<!DOCTYPE html>
<html>

<head>
    <title>Fairfield Wild Life</title>

    <meta name="viewport" content="width=640, user-scalable=no" />

    <link rel="stylesheet" href="../stylesheets/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
        integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/3.2.0/async.min.js"
        integrity="sha512-6K6+H87tLdCWvY5ml9ZQXLRlPlDEt8uXmtELhuJRgFyEDv6JvndWHg3jadJuBVGPEhhA2AAt+ROMC2V7EvTIWw=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.roboflow.com/0.2.26/roboflow.js"></script>
    <script src="../services/main.js"></script>
</head>

<body>
    <div class="nav-bar">
        <div class="nav-icon">
            <div>
                <label>Fairfield Wild Life</label>
            </div>
            <div>
                <label>Services</label>
            </div>
            <div>
                <label>About Us</label>
            </div>
        </div>
    </div>

    <div class="dataTable">
        <table>
            <tr>
                <th>Animal</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Count</th>
            </tr>
            <% for(let item of data) { %>
                <tr>
                    <td><%= item.animal_name %></td>
                    <td><%= item.country %></td>
                    <td><%= item.state %></td>
                    <td><%= item.city %></td>
                    <td><%= item.count %></td>
                </tr>
            <% } %>
        </table>
    </div>
    
    <footer>
        <div>
            <span style="color: white;">ABOUT US</span><br><br>
            <label>HISTORY</label><br><br>
            <label>JOBS</label><br><br>
            <label>BLOG</label><br><br>
            <label>CONTACT</label>
        </div>
        <div>
            <span style="color: white;">USEFUL INFO</span><br><br>
            <label>FAQS</label><br><br>
        </div>
        <div>
            <span style="color: white;">CORPORATE AND LEGAL</span><br><br>
            <label>INVESTORS</label><br><br>
            <label>OUR COMMUNITY</label><br><br>
            <label>OUR COMMUNITY</label><br><br>
            <label>TERMS & CONDITIONS</label><br><br>
            <label>WARRANTY</label><br><br>
        </div>
    </footer>
</body>
</html>